/*************************
Author : Samuel Holmes
Date : 2020-12-09
Author url : samuelholmes.tech
Domain : interne.atalante-cinema.org
Version : 0.1
**************************/

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
	--theme-color: #007e92;
}

body {
	font-family: "Quicksand", sans-serif;
	margin: 0;
	padding-top: 4.5rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

.alert-pre {
	word-wrap: break-word;
	word-break: break-all;
	white-space: pre-wrap;
}

.dropdown-menu {
	min-width: 20rem;
}

.navbar {
	background-color: var(--theme-color) !important;
}
.navbar-brand {
	width: 2em;
}
.search {
	margin: 0 auto;
}
.search input {
	min-width: 320px;
	border: 1px solid gray;
	border-radius: 0.4em;
	padding-left: 0.4em;
}
.movieResults {
	justify-content: center;
}
.movieCard {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: lightgray;
	border-radius: 1em;
	margin: 1em;
	min-width: 220px;
	padding: 1em;
	max-width: 220px;
}
.movieCard img {
	flex-grow: 1;
}
